<div class="w-full max-w-lg mx-auto">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
     <h1 class="mb-4 font-bold">Name of Podcast being Saved to Collection</h1> 
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Name this Collection 
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="ex Best dev podcasts handsdown">
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Describe or review this podcast
      </label>
      <textarea rows="10" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="review" placeholder=""></textarea>
    </div>

    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Rate this Podcast
      </label>

      <div class="flex items-center">
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" data-value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" data-value="5" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" data-value="5" /><label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" data-value="5" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" data-value="5" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-3 rounded focus:outline-none focus:shadow-outline" type="button">
          Save Collection
      </button>
    </div>
  </form>
  
</div>