<div class="w-full max-w-lg mx-auto">

    <h1 class="mb-4 font-bold">Collection Title</h1>

    <h2 class="mb-4 font-bold">1. <a href="#">Podcast Title</a></h2>
    <h2 class="mb-4 font-bold">Description / Revew</h2>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Doloribus quis quo molestiae cupiditate nihil unde, tempore non a
        ccusamus amet saepe, alias velit ea quisquam. Expedita totam dolore fuga vitae 
        voluptatum!</p>
    <h2 class="mb-4 font-bold">Rating</h2>
    <div class="flex items-center my-4">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img src="/img/star.png" alt="star rating">
    </div>

    <h2 class="mb-4 font-bold">1. <a href="#">Podcast Title</a></h2>
    <h2 class="mb-4 font-bold">Description / Revew</h2>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Doloribus quis quo molestiae cupiditate nihil unde, tempore non a
        ccusamus amet saepe, alias velit ea quisquam. Expedita totam dolore fuga vitae 
        voluptatum!</p>
    <h2 class="mb-4 font-bold">Rating</h2>
    <div class="flex items-center my-4">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img src="/img/star.png" alt="star rating">
    </div>


    <h2 class="mb-4 font-bold">1. <a href="#">Podcast Title</a></h2>
    <h2 class="mb-4 font-bold">Description / Revew</h2>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Doloribus quis quo molestiae cupiditate nihil unde, tempore non a
        ccusamus amet saepe, alias velit ea quisquam. Expedita totam dolore fuga vitae 
        voluptatum!</p>
    <h2 class="mb-4 font-bold">Rating</h2>
    <div class="flex items-center my-4">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img class="pr-1" src="/img/star.png" alt="star rating">
        <img src="/img/star.png" alt="star rating">
    </div>    

</div>