<div class="w-full max-w-lg mx-auto">

    <h1 class="mb-4 font-bold uppercase text-5xl">{{oneCollection.collectionTitle}}</h1>

    {{#each oneCollection.Podcasts}}
        <h2 class="mb-4 font-bold text-blue-700 hover:text-blue-900"><a href="#">{{podcastTitle}}</a></h2>
        <h2 class="mb-4 font-bold">Description / Review</h2>
        <p class="mb-4">{{review}}</p>
        <h2 class="mb-4 font-bold">Rating</h2>
        <div class="flex items-center my-4">
            <img class="pr-1" src="/img/star.png" alt="star rating">
            <img class="pr-1" src="/img/star.png" alt="star rating">
            <img class="pr-1" src="/img/star.png" alt="star rating">
            <img class="pr-1" src="/img/star.png" alt="star rating">
            <img src="/img/star.png" alt="star rating">
        </div>

    {{/each}}

</div>